html
    head
        title A4 Home Page
 
    body
        h1 Welcome to assignment 4 home page!
        h2 Routes available:
        ul
            li
                a(href='/questions')  GET /questions
            li
                a(href='/createquiz')  GET /createquiz
            li
                a(href='/quizzes')  GET /getQuizzes
            li
                p  GET /questions/:qID
            li
                p  GET /quiz/:quizID
            li
                p  POST /quizzes