html 
    head
        title Question Information
        body
            p=  "question title :" + ques.question
            p=  "difficulty : " + ques.difficulty
            p=  "category : " + ques.category
            p= "id :" + ques._id
            p= "correct answer: "+ques.correct_answer
            p= "incorrect answer: "+ques.incorrect_answers